{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
